* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.all {
    width: 100%;
    overflow: hidden;
}

a {
    list-style: none;
    text-decoration: none;
    display: block;
}

.nav {
    width: 100%;
    height: .88rem;
    background: #ffcc00;
    padding: 0 .24rem;
    position:fixed;
    z-index: 999;
}

.nav .logo {
    float: left;
    width: 1.68rem;
    height: .5rem;
    margin-top: .2rem;
}

.nav .logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.nav .search_nav {
    width: 1.76rem;
    height: .5rem;
    float: right;
    display: flex;
    justify-content: space-between;
}

.nav .search_nav .search {
    width: .88rem;
    height: .88rem;
}

.nav .search_nav .search img {
    display: block;
    width: 100%;
    height: 100%;
}

.nav .nav_img {
    width: .88rem;
    height: .88rem;
}

.nav .nav_img img {
    display: block;
    width: 100%;
    height: 100%;
}

.foot {
    width: 100%;
    height: 2.42rem;
    background: #2c2c2c;
    overflow: hidden;
}

.foot .edition {
    text-align: center;
    font-size: .3rem;
    margin-top: .6rem;
}

.foot .edition i {
    font-style: normal;
    color: #666666;
}

.foot .edition span {
    color: #666666;
}

.foot .edition em {
    font-style: normal;
    color: #969696;
}

.foot p {
    text-align: center;
    font-style: normal;
    font-size: .24rem;
    color: #999999;
    margin-top: .36rem;
}

/*搜索*/
.mask_search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
}

.mask_search .search_input {
    width: 100%;
    height: .88rem;
    background: #ffcc00;
    padding: 0 .24rem;
    /*overflow: hidden;*/
}

.mask_search .search_input input {
    width: 6.1rem;
    height: .64rem;
    border: 0;
    border-radius: .05rem;
    outline: none;
    float: left;
    margin-top: .12rem;
    padding-left: .6rem;
    position: relative;
}

.mask_search .search_input .search_img {
    display: block;
    width: .27rem;
    height: .27rem;
    position: absolute;
    top: .3rem;
    left: .4rem;
}

.mask_search .search_input .close_search {
    display: block;
    width: .24rem;
    height: .24rem;
    position: absolute;
    right: 1.4rem;
    top: .32rem;
}

.mask_search span {
    display: block;
    float: right;
    font-style: normal;
    font-size: .36rem;
    color: #333333;
    line-height: .88rem;
}

.over {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

/*点击出现隐藏导航栏*/
.nav_mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
}

.nav_mask ul {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #ffffff;
}

.nav_mask ul li img {
    display: block;
    width: .36rem;
    height: .36rem;
    float: right;
    margin-top: .26rem;
    margin-right: .26rem;
}

.nav_mask ul li {
    width: 100%;
    height: .88rem;
    text-align: center;
    line-height: .88rem;
}

.nav_mask ul li a {
    font-style: normal;
    font-size: .3rem;
    color: #666666;
}



















